<div class="row">
	<div class="col-12 mx-auto wj-logo">
		<img src = "assets/logos/whaleandjaguar.png">
	</div>
</div>

<div class="row friends-logos">
	<div class="col-4 mx-auto">
		<span class="logo-container">
			<img src = "assets/logos/cuso.png">
		</span>
	</div>
	<div class="col-4 mx-auto">
		<span class="logo-container">
			<img src = "assets/logos/fescol.png">
		</span>
	</div>
	<div class="col-4 mx-auto">
		<span class="logo-container">
			<img src = "assets/logos/canada.png">
		</span>
	</div>
</div>	

