:host{
	width:100%;
	text-align:center;
}

.wj-logo img{
	width: 100%;
	max-width: 450px;
}

.friends-logos img{
	width: 70%;
	max-width: 120px;
}

.friends-logos div:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}