h1{
	width: 100%;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;

}

@media(max-width: 576px) { 
	h1{
		font-size: 7vw;
	}
}

ng-select{
	margin-top:10px;

}

.seismograph{
	max-width: 650px;
	margin-top: 40px;
}

.btn{
	border-color:black;
	background-color: black;
}

.btn-primary.active{
	color:black !important;
	background-color: white !important;
   border-color:black  !important;;
}

.disclaimer{
	font-size: 10px;
	margin: 0 20px;
}


.source-select{
	font-family: 'Merriweather', serif;
}

.last-updated{
	text-align: center;
}