<div class="container-fluid seismograph">
	<div class="row">
		<h1>
			SISMÓGRAFO ELECTORAL
		</h1>
	</div>
	<app-select-panel (modeChange)="changeMode($event)"
					  (candidatesChange)="changeCandidates($event)"
					  (themesChange)="changeThemes($event)"
					  [defaultThemeId]="defaultThemeId"

					  ></app-select-panel>



		<app-graph [mode]="selectedMode"
				   [candidates]="selectedCandidates"
				   [themes]="selectedThemesIds"	
				   [source]="source"			
	    	></app-graph>	

	<div class="row source-select">

		<div class="col-12">
			<h6 class="text-center">Fuente</h6>
		</div>


		<div class="col-6 offset-3 text-center">
			<div class="btn-group">
				<label class="btn btn-primary" [(ngModel)]="source" btnRadio="facebook">Facebook</label>
				<label class="btn btn-primary" [(ngModel)]="source" btnRadio="all">Todas</label>
				<label class="btn btn-primary" [(ngModel)]="source" btnRadio="twitter">Twitter</label>
			</div>

		</div>		
	</div>

	<app-credits></app-credits>

	<div class = "row">
		<div class = "disclaimer">
			<p>
				El Sismógrafo Electoral es un desarrollo de Whale & Jaguar que cuenta con el apoyo financiero de Cuso International, el Gobierno de Canadá y Fescol. Los contenidos del Sismógrafo Electoral no reflejan las posiciones de Cuso International, el Gobierno de Canadá, Fescol o Whale & Jaguar, que no se hacen responsables por los los resultados de las búsquedas de los visitantes a la plataforma o sus interpretaciones.
			</p>
		</div>
	</div>
</div>

