:host >>> .nv-legend-text{
	font-size: 16px;
}

@media(max-width: 576px) { 
	:host >>> .nv-noData{
		font-size: 4vw;
	}
}

:host >>> g.nv-groups path.nv-line {
  stroke-width: 3px;
}

:host >>> svg {
	font-family: 'Roboto', sans-serif !important;
}

:host >>> .nvd3 text{
	font-family: 'Roboto', sans-serif !important;
	fill: #85888c;
}

:host >>> .nv-y .zero line {
	stroke: #000;
	stroke-width:2;
}

/*:host >>> .nv-y path.domain{
	stroke-opacity: 0;
}
*/
.tag-container p{
	position: absolute;
	font-size: 0.8rem;
}

.negative-tag {
	transform: translateY(-100%);
}

@media(max-width: 576px) { 
	.positive-tag{
		margin-top: calc(65px - 8vw);
	}
}

