:host >>> .nv-legend-text{
	font-size: 16px;
}

@media(max-width: 576px) { 
	:host >>> .nv-noData{
		font-size: 4vw;
	}
}

:host >>> g.nv-groups path.nv-line {
  stroke-width: 3px;
}

:host >>> svg {
	font-family: 'Roboto', sans-serif !important;
}

 :host >>> .nvd3 text{
	font-family: 'Roboto', sans-serif !important;
 }