ng-select{
	margin-bottom: 5px;
	font-family: 'Merriweather', serif;
}

#modes-select-container {
	max-width: calc(100% - 50px)
}

:host >>> #modes-select .ng-clear-zone{
	display: none;
}

:host >>> #modes-select .ng-option{
	white-space: normal;
}


@media(max-width: 576px) { 
	ng-select{
		font-size: 0.85rem;
	}
}

#btn-info{
	border-radius: 50%;
	height: 30px;
	width: 30px;
	padding: 0;
	font-size: 1.1rem;
}

