ng-select{
	margin-bottom: 5px;
	font-family: 'Merriweather', serif;
}

:host >>> #modes-select .ng-clear-zone{
	display: none;
}

:host >>> #modes-select .ng-option{
	white-space: normal;
}

@media(max-width: 576px) { 
	ng-select{
		font-size: 0.85rem;
	}
}

/*#btn-info{
	position: absolute;
	top: 0px;
	right: 0;
}

*/