<div class="row">
	<div class="col-11">
		<ng-select 
			id="modes-select"
			[items] = "modes"
			bindLabel="name"
			(change)="changeMode($event)"
			[placeholder]="'Seleccione una pregunta'"
			[(ngModel)] = "defaultMode"
			>
		</ng-select>
	</div>
	<!-- <div> -->
		<button type="button" class="btn btn-info" *ngIf="info"
			id="btn-info"
	        [popover]="info"
	        popoverTitle="Info"
	        triggers="focus"
	        placement="left">
		  <b> &#8505;</b>
		</button>
	<!-- </div> -->
</div>



<div class="row">
	<div class="col-sm-6">
		<ng-select 
			id="candidates-select"
			[items] = "allCandidates"
			bindLabel="name"
		    [multiple]="showBy != 'candidate'"
		    [maxSelectedItems]="4"
		    (change)="changeCandidates($event)"
		    [placeholder]="candidatesPlaceholder"
		    [hidden] = "showBy == undefined"
		    [(ngModel)] = "defaultCandidates"
			>
		</ng-select>						
	</div>
	<div class="col-sm-6">
		<ng-select 
			id="viz-categories-select"
			[items] = "allVizCategories"
			bindLabel="name"
		    [multiple]="showBy == 'candidate'"
		    [maxSelectedItems]="4"
		    (change)="changeThemes($event)"
		    [placeholder]="themesPlaceholder"
		    [hidden] = "showBy == undefined"
		    [(ngModel)] = "defaultTheme"
			>
		</ng-select>					
	</div>
	
</div>
